<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20" />
  <add key="MaxPage" value="5" />

  <add key="SMTPHost" value="smtp.gmail.com" />
  <add key="SMTPPort" value="587" />
  <add key="FromEmailAddress" value="lethehau90@gmail.com" />
  <add key="FromEmailPassword" value="xxxxxxxx" />
  <add key="FromName" value="HauShop" />
  <add key="AdminEmail" value="lethehau90.vn@gmail.com" />
  <add key="CurrentLink" value="http://localhost:30555/" />
  <add key="EnableBundles" value="false" />
  
  <!--setting Ngan luong payment-->
  <add key="MerchanId" value="36680"/>
  <add key="Merchanpassword" value="matkhauketnoi"/>
  <add key="Merchanemail" value="demo@nganluong.vn"/>

  <add key="ReportFolder" value="/Reports"/>

</appSettings>