 <!-- Content Header (logo header) -->
<section class="content-header">
    <h1>
        Cập nhật logo
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Trang</a></li>
        <li><a ui-sref="logo_categories">logo</a></li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Cập nhật</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditlogo" role="form" ng-submit="Editlogo()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên</label>
                    <div class="col-sm-10">
                        <input disabled type="text" class="form-control" ng-maxlength="250" required name="name" ng-model="logo.Name" ng-change="getCode()">
                        <span ng-show="frmEditlogo.name.$invalid" class="has-error">Phải nhập name logo</span>
                        <span ng-show="frmEditlogo.name.$error.maxlength" class="has-error">Tên logo chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-10">
                        <input disabled type="text" class="form-control" ng-maxlength="250" required name="code" ng-model="logo.Code">
                        <span ng-show="frmEditlogo.code.$invalid" class="has-error">Phải nhập code logo</span>
                        <span ng-show="frmEditlogo.code.$error.maxlength" class="has-error">code logo chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="image" ng-maxlength="500" ng-model="logo.Image">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="chooseImage()">Chọn ảnh</button>
                            </span>
                        </div>
                        <span ng-show="frmEditlogo.image.$error.maxlength" class="has-error">Images chỉ được 500 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Xem trước</label>
                    <div class="col-sm-10">
                        <img ng-if="logo.Image  !== null" height="100" src="{{logo.Image}}" />
                        <img ng-if="logo.Image  === null" height="100" src="/Assets/admin/img/no-Image.png" />
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="logo" class="btn btn-default">Cancel</button>
                <button type="submit" ng-disabled="frmEditlogo.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-logo -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->